{% extends "template.html" %}
{% block content %}
 <h1>Casillas</h1>
 {% if lista_casilla %}
 <table class="table table-striped table-bordered">
 <thead>
 <tr>
 <th>ID</th>
 <th>UBICACION</th>
 <th>ACCIONES</th>
 </tr>
 </thead>
 <tbody>
 {% for casilla in lista_casilla %}
 <tr>
 <td>{{ casilla.id }}</td> <td>{{ casilla.ubicacion }}</td> <td>  <a href="edit/{{ casilla.id }}" class="btn btn-primary">Editar</a> <a href="delete/{{ casilla.id }}" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres borrar a {{casilla.ubicacion}}?');"> Eliminar</a> </td>
 </tr>

 

 {% endfor %}
 <div class="text-right"> 
     <a href="/eleccion/casilla/add" class="btn btn-success">Crear Casilla</a>
  </div>
 </tbody>
 </table>
 {% else %}
 <p>No hay casillas registradas.</p>
 {% endif %}
{% endblock %}

